/** https://color.adobe.com/Pearson-3-Accent-Colors-color-theme-8118770/ */
$primary_bg:	#E7177D;
$color_2:		#85BA23;
$color_3:		#FFFFFF;
$color_4:		#9C0F7C;
$color_5:		#23B0A5;
$dark:			#222222;
$white:			#FFFFFF;

$base_font:		"myriad-pro",sans-serif;
$title_font:	"fira-sans-2";